@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0; }

.header {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); }
  .header nav ul li {
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Delicious Handrawn', cursive, 'Gill Sans', 'Gill Sans MT';
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px; }

.header-centrado {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around !important; }

.logo-principal {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center; }
  .logo-principal img {
    max-width: 100px;
    max-height: 100px; }

.lista-pages {
  justify-content: flex-end; }
  .lista-pages li a {
    color: #ff086b;
    text-decoration: none; }

/* PSEUDOCLASES*/
.escalar:hover {
  transform: scale(1.2); }

/* MAIN */
.main-principal {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  font-family: 'Alkatra', cursive, 'Gill Sans', 'Gill Sans MT';
  font-size: x-large;
  color: #ff086b;
  text-align: center;
  padding: 0%;
  min-width: 100%; }

.main-inicio {
  font-family: "Pacifico", cursive;
  font-size: xx-large;
  color: #fcfbfb; }
  .main-inicio .back {
    position: relative;
    overflow: hidden;
    padding-bottom: 5%; }
    .main-inicio .back .img-back {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.62; }
    .main-inicio .back .inicio {
      position: relative;
      overflow: hidden;
      padding-top: 2%; }
      .main-inicio .back .inicio h1 {
        color: #a50d66;
        font-size: 110%;
        margin: 2%; }
    .main-inicio .back .banner-principal {
      position: relative;
      overflow: hidden; }
      .main-inicio .back .banner-principal .main-fotos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly; }
        .main-inicio .back .banner-principal .main-fotos img {
          max-width: 150px;
          margin: 5vh;
          border-radius: 10%; }
      .main-inicio .back .banner-principal a {
        font-family: "Pacifico", cursive;
        font-size: xx-large;
        color: #fcfbfb; }
      .main-inicio .back .banner-principal a {
        text-decoration: none;
        font-family: "Pacifico", cursive;
        font-size: larger; }

.fondo-separador-rectangular {
  background-image: url("https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9uZG8lMjBkZSUyMENST0NIRVQlMjBwYXJhJTIwdGl0dWxvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  display: flex;
  min-height: 90px;
  min-width: 100%;
  text-align: center;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around;
  color: #fcfbfb;
  font-family: "Pacifico", cursive; }

.main-nosotras {
  min-width: 100%; }
  .main-nosotras img {
    border-radius: 50%;
    padding: 5%; }
  .main-nosotras .texto-en-box {
    display: flex;
    min-height: 100px;
    text-align: center;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
    padding: 10%; }

.productos {
  justify-content: space-around; }
  .productos .productos-individuales {
    background-color: #f1bcd7;
    justify-content: space-around;
    border-radius: 2%;
    margin: 1%;
    box-shadow: 5px 5px 5px black; }
  .productos img {
    max-height: 30vh;
    max-width: 30vh;
    margin: 1%;
    border-radius: 10%; }

.artesanias {
  justify-content: space-around; }
  .artesanias img {
    max-height: 50vh;
    max-width: 75vh;
    margin: 5px; }

/* FORMULARIO DE CONTACTO */
.main-contacto .contacto-texto {
  justify-content: space-around; }

.contacto-contenido {
  padding: 5%; }
  .contacto-contenido .texto-en-box {
    padding: auto; }

/* Formulario */
.formulario {
  grid-column: 1/13;
  /*     text-align: center; */
  margin: 0 auto;
  /* padding: 1rem; */
  margin-bottom: 3rem; }
  .formulario fieldset {
    border: none; }
    .formulario fieldset legend {
      color: var(--secundario);
      text-align: center;
      font-size: 2rem;
      font-weight: 600; }

.campo span {
  color: var(--rojo); }

.campo label {
  display: block;
  margin: 1.5rem 0 .5rem 0;
  width: 100%;
  font-weight: 500; }

.campo input {
  border-radius: .5rem;
  border: 1rem var(--negro);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 3rem;
  /* width: 80%; */
  width: 100%; }

.campo textarea {
  border-radius: .5rem;
  border: 1rem var(--negro);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 8rem;
  width: 100%; }

.boton-envio {
  background-color: #3c2b42;
  border: none;
  width: 30vw;
  height: 10vh;
  border-radius: 5px;
  color: #e9e9ea;
  box-shadow: 1px 2px 6px 1px #08141377; }

/* FOOTER */
.footer {
  background-color: #aa488e;
  font-family: Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  color: black;
  min-height: 15vh; }

.foot-4 ul {
  list-style: none; }

.foot-4 li a {
  color: black;
  text-decoration: none; }

/* FIXED ICON SOCIAL */
.btn-flotante {
  position: fixed;
  bottom: 100px;
  right: 100px;
  max-height: 5vh;
  max-width: 5vw;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99; }
  .btn-flotante img {
    width: 64px;
    height: 64px;
    margin: 5vh; }
