@import './recursos/tipografias';

// VARIABLES
$color-rosa-letras: #ff086b;
$color-blanco-letras: #fcfbfb;

// PENDIENTE CAPTURA LA RESOLUCIÓN DEL USUARIO EN UNA VARIABLE
$vista:mobile;

//FUENTES
$negrita1: 'Pacifico', cursive;
$negrita2: 'Roboto Mono', monospace;


