/* MAIN */
.main-principal{
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    font-family: 'Alkatra', cursive, 'Gill Sans', 'Gill Sans MT';
    font-size: x-large;
    color: $color-rosa-letras;
    text-align: center;
    //min-height: 100vh;
    padding: 0%;
    min-width: 100%;
 }

 .main-inicio{
   font-family: $negrita1;
   font-size: xx-large;
   color: $color-blanco-letras;
   .back{
      position: relative;
      overflow: hidden;
      padding-bottom: 5%;
      .img-back{
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         opacity: 0.62;
      };
      .inicio{
         position: relative;
         overflow: hidden;
         padding-top: 2%;
         h1{
            color:#a50d66;
            font-size: 110%;
            margin: 2%;
         }
      };
      .banner-principal{
         position: relative;
         overflow: hidden;
         // padding-bottom: 5%;
      .main-fotos{
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-evenly;
         img{
            // width: 60vw;
            // height: 30vh;
            max-width: 150px;
            //max-height: 150px;
            margin: 5vh;
            border-radius: 10%;

         }
      }
      a {
         font-family: $negrita1;
         font-size: xx-large;
         color: $color-blanco-letras;
      };
      a{
         text-decoration: none;
         font-family: $negrita1;
         font-size: larger;
         // padding: 2%;
         
         }
      }
   }
 }

 
 


