.productos{
    justify-content: space-around;
    
    .productos-individuales{
        background-color:rgb(241, 188, 215);
        justify-content: space-around;
        border-radius: 2%;
        margin: 1%;
        box-shadow: 5px 5px 5px black;
    };
    img{
        max-height: 30vh;
        max-width: 30vh;
        margin: 1%;
        border-radius: 10%;
    }
}
